.popup__submit-button {
    width: 100%;
    height: 46px;
    padding: 0;
    margin: 0 auto 25px;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.popup__submit-button:hover {
    opacity: 0.8;
    transition: .3s;
}