.header {
    margin: 0;
    background-image: url(../../vendor/image/Bkg_2.png);
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1805px) {
    .header {
        background-image: none;
    }
}