.header__button {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

@media screen and (max-width: 880px) {
    .header__button {
        top: 20px;
        right: 20px;
    }
}